.vs/
.git/
MyTestPlatformExtension/bin/*
MyTestPlatformExtension/obj/*
MyTestServerExtension/bin/*
MyTestServerExtension/obj/*
TemplateDVE/IntroductionToSDK.App/bin/*
TemplateDVE/IntroductionToSDK.App/obj/*
TemplateWebExtension/node_modules/*
TemplateWebExtension/obj/*
TemplateWebExtension/output/*
DBTest/bin/*
DBTest/obj/*
MyLayout/bin/*
MyLayout/obj/*